<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.iotplatform.mapper.AlarmMapper">
    <select id="getAllAlarm" resultType="com.it.iotplatform.model.Alarm">
        select *
        from alarm
    </select>
    <select id="getAlarmByCondition" resultType="com.it.iotplatform.model.Alarm">
        select *
        from alarm
        <where>
            alarmLevel = #{alarmLevel}
            <if test="alarmName != null and alarmName != ''">
                and alarmName like CONCAT(#{alarmName},'%')
            </if>
            <if test="alarmCode != null and alarmCode != ''">
                and alarmCode like CONCAT(#{alarmCode},'%')
            </if>
        </where>
    </select>
    <select id="getAlarmNameByDeviceType" parameterType="com.it.iotplatform.model.Alarm" resultType="string">
        select alarmName
        from alarm
        where deviceTypeName = #{deviceTypeName}
    </select>
    <insert id="addAlarm" parameterType="com.it.iotplatform.model.Alarm">
        insert into alarm(alarmName,alarmCode,alarmLevel,deviceTypeName,alarmStatus,ruleDescription,createUser,updateUser,state)
        value (
            #{alarmName},
            #{alarmCode},
            #{alarmLevel},
            #{deviceTypeName},
            #{alarmStatus},
            #{ruleDescription},
            #{createUser},
            #{createUser},
            1
        );
    </insert>
    <update id="updateAlarm" parameterType="com.it.iotplatform.model.Alarm">
        update alarm
        set alarmName = #{alarmName},
            alarmLevel = #{alarmLevel},
            deviceTypeName = #{deviceTypeName},
            alarmStatus = #{alarmStatus},
            ruleDescription = #{ruleDescription},
            updateUser = #{updateUser}
        where alarmCode = #{alarmCode};
    </update>
    <delete id="deleteAlarm" parameterType="com.it.iotplatform.model.Alarm">
        delete
        from alarm
        where alarmCode = #{alarmCode};
    </delete>
</mapper>