<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.iotplatform.mapper.DeviceInfoMapper">

<!--    <resultMap id="deviceInfoResultMap" type="com.it.iotplatform.model.DeviceInfo" autoMapping="true">-->
<!--        <id property="deviceNumber" column="deviceNumber"/>-->
<!--        <result property="deviceSort" column="deviceSort" />-->
<!--        <result property="deviceBrand" column="deviceBrand" />-->
<!--        <result property="deviceTypeName" column="deviceTypeName" />-->
<!--        <result property="deviceModel" column="deviceModel" />-->
<!--        <result property="deviceNumber" column="deviceNumber" />-->
<!--        <result property="installDate" column="installDate" />-->
<!--        <result property="longitude" column="longitude" />-->
<!--        <result property="latitude" column="latitude" />-->
<!--        <result property="installAddress" column="installAddress" />-->
<!--    </resultMap>-->
    <insert id="addDeviceInfo" parameterType="com.it.iotplatform.model.DeviceInfo" useGeneratedKeys="true">
        INSERT INTO DeviceInfo
        (deviceSort,
         deviceBrand,
         deviceTypeName,
         deviceModel,
         deviceNumber,
         installDate,
         longitude,
         latitude,
         installAddress,
         deviceStatus,
         createUser,
         updateUser,
         state,
         deviceName
        )
        VALUES
            (#{deviceSort},
             #{deviceBrand},
             #{deviceTypeName},
             #{deviceModel},
             #{deviceNumber},
             #{installDate},
             #{longitude},
             #{latitude},
             #{installAddress},
             "正常",
             #{createUser},
             #{createUser},
             1,
             concat(#{deviceTypeName},#{deviceNumber})
             );
    </insert>
    <update id="updateDeviceInfo" parameterType="com.it.iotplatform.model.DeviceInfo">
        UPDATE DeviceInfo
        SET
            deviceSort=#{deviceSort},
            deviceBrand=#{deviceBrand},
            deviceTypeName=#{deviceTypeName},
            deviceModel=#{deviceModel},
            deviceNumber=#{deviceNumber},
            installDate=#{installDate},
            longitude=#{longitude},
            latitude=#{latitude},
            installAddress=#{installAddress},
            deviceStatus=#{deviceStatus},
            updateUser=#{updateUser},
            deviceName=concat(#{deviceTypeName},#{deviceNumber})
            where deviceNumber=#{deviceNumber}
    </update>
    <update id="updateDeviceStatusWhileEventOccur" parameterType="com.it.iotplatform.model.DeviceInfo">
        UPDATE DeviceInfo
        SET deviceStatus = #{deviceStatus}
        WHERE deviceNumber = #{deviceNumber}
    </update>
    <delete id="deleteDeviceInfoById">
        DELETE from DeviceInfo where deviceNumber=#{deviceNumber}
    </delete>

    <select id="getDeviceInfo" parameterType="com.it.iotplatform.model.DeviceInfo" resultType="com.it.iotplatform.model.DeviceInfo">
        select * from deviceInfo where state = 1
        <if test="deviceTypeName != null">
            and deviceTypeName like concat('%',#{deviceTypeName},'%')
        </if>
        <if test="deviceBrand != null">
            and deviceBrand like concat('%', #{deviceBrand}, '%')
        </if>
        <if test="deviceName != null">
            and deviceName like concat('%', #{deviceName}, '%')
        </if>
        order by #{updateTime} DESC, #{createTime} DESC
    </select>

    <select id="getAllDeviceInfo" resultType="com.it.iotplatform.model.DeviceInfo">
        select * from deviceInfo
    </select>

    <select id="getDeviceInfoByDeviceTypeName" resultType="com.it.iotplatform.model.DeviceInfo">
        select * from deviceInfo
        WHERE deviceTypeName like concat('%', #{deviceTypeName}, '%')
    </select>

    <select id="getDeviceInfoByDeviceStatus" parameterType="string" resultType="com.it.iotplatform.model.DeviceInfo">
        SELECT *
        FROM deviceInfo
        WHERE deviceStatus = #{deviceStatus}
    </select>
    
    <select id="getDeviceInfoByDeviceNumber" parameterType="string" resultType="com.it.iotplatform.model.DeviceInfo">
        SELECT *
        FROM deviceInfo
        WHERE deviceNumber = #{deviceNumber}
    </select>

    <select id="getDataAboutInitialization" resultType="com.it.iotplatform.model.DeviceInitialization">
        SELECT
            COUNT(case when true then 1 end) AS deviceTotal,
            COUNT(DISTINCT deviceTypeName) AS deviceTypeTotal,
            COUNT(CASE WHEN deviceStatus = '正常' THEN 1 END) AS deviceNormalTotal,
            COUNT(CASE WHEN deviceStatus = '异常' THEN 1 END) AS deviceWarningTotal,
            COUNT(CASE WHEN deviceTypeName = '智能路灯' THEN 1 END) AS ludeng,
            COUNT(CASE WHEN deviceTypeName = '智能路灯' AND deviceStatus = '正常' THEN 1 END) AS ludengN,
            COUNT(CASE WHEN deviceTypeName = '智能燃气' THEN 1 END) AS ranqi,
            COUNT(CASE WHEN deviceTypeName = '智能燃气' AND deviceStatus = '正常' THEN 1 END) AS ranqiN,
            COUNT(CASE WHEN deviceTypeName = '智能井盖' THEN 1 END) AS jinggai,
            COUNT(CASE WHEN deviceTypeName = '智能井盖' AND deviceStatus = '正常' THEN 1 END) AS jinggaiN,
            COUNT(CASE WHEN deviceTypeName = '智能电气' THEN 1 END) AS dianqi,
            COUNT(CASE WHEN deviceTypeName = '智能电气' AND deviceStatus = '正常' THEN 1 END) AS dianqiN,
            COUNT(CASE WHEN deviceTypeName = '智能消防栓' THEN 1 END) AS xiaofangshuan,
            COUNT(CASE WHEN deviceTypeName = '智能消防栓' AND deviceStatus = '正常' THEN 1 END) AS xiaofangshuanN,
            COUNT(CASE WHEN deviceTypeName = '智能烟感' THEN 1 END) AS yangan,
            COUNT(CASE WHEN deviceTypeName = '智能烟感' AND deviceStatus = '正常' THEN 1 END) AS yanganN,
            COUNT(CASE WHEN deviceTypeName = '智能光伏' THEN 1 END) AS guangfu,
            COUNT(CASE WHEN deviceTypeName = '智能光伏' AND deviceStatus = '正常' THEN 1 END) AS guangfuN
        FROM deviceInfo;
    </select>
</mapper>