<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.iotplatform.mapper.DeviceTypeMapper">

    <insert id="addDeviceType" parameterType="com.it.iotplatform.model.DeviceType" useGeneratedKeys="true">
        INSERT INTO DeviceType
        (deviceTypeCode,
         deviceTypeName,
         createUser,
         updateUser,
         state
         )
        VALUES
            (#{deviceTypeCode},
             #{deviceTypeName},
             #{createUser},
             #{createUser},
             1
             )
    </insert>

    <update id="updateDeviceType" parameterType="com.it.iotplatform.model.DeviceType">
        UPDATE DeviceType
        SET
            deviceTypeCode=#{deviceTypeCode},
            deviceTypeName=#{deviceTypeName},
            updateUser=#{updateUser}
        where deviceTypeCode=#{deviceTypeCode}
    </update>

    <delete id="deleteDeviceTypeById">
        DELETE from DeviceType where deviceTypeCode=#{deviceTypeCode}
    </delete>

    <select id="getDeviceType" parameterType="String" resultType="com.it.iotplatform.model.DeviceType">
        select * from (select * from DeviceType ORDER BY #{updateTime} DESC, #{createTime} DESC)
        where deviceTypeCode like concat('%', #{deviceTypeCode}, '%')
    </select>
    <select id="getAllDeviceType" resultType="String">
        SELECT deviceTypeName
        FROM DeviceType
    </select>
</mapper>