<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.iotplatform.mapper.EventConfigMapper">
    <select id="getAllEventConfig" resultType="com.it.iotplatform.model.EventConfig">
        select *
        from eventConfig
    </select>
    <select id="getEventConfigById" resultType="com.it.iotplatform.model.EventConfig">
        select *
        from eventConfig
        where eventConfigId=#{eventConfigId}
    </select>
    <insert id="addEventConfig" parameterType="com.it.iotplatform.model.EventConfig" useGeneratedKeys="true">
        insert into eventConfig(eventName, notificationDescription, eventLevel, deviceTypeName, alarmName, createTime, createUser, updateUser, state)
        values (#{eventName}, #{notificationDescription}, #{eventLevel}, #{deviceTypeName}, #{alarmName}, now(), #{createUser}, #{createUser}, "1")
    </insert>
    <delete id="deleteEventConfigById">
        DELETE from eventConfig where eventConfigId=#{eventConfigId}
    </delete>
<!--    <update id="updateEquipment" parameterType="com.it.class11springboot.model.Equipment">-->
<!--        UPDATE equipment_info-->
<!--        SET-->
<!--            equipment_id=#{equipmentId},-->
<!--            equipment_name=#{equipmentName},-->
<!--            equipment_type=#{equipmentType},-->
<!--            equipment_state=#{equipmentState},-->
<!--            supplier_id=#{supplierId},-->
<!--            update_time=#{updateTime},-->
<!--            update_user=#{updateUserString},-->
<!--            create_time=#{createTime},-->
<!--            create_user=#{createUserString},-->
<!--            state=#{state}-->
<!--        where id=#{id}-->
<!--    </update>-->
</mapper>
