<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.iotplatform.mapper.EventInfoMapper">
    <select id="getAllEventInfo" resultType="com.it.iotplatform.model.EventInfo">
        select *
        from eventInfo
    </select>
    <update id="updateEventInfo" parameterType="com.it.iotplatform.model.EventInfo">
        UPDATE eventInfo
        SET
            eventInfoStatus=#{eventInfoStatus},
            updateUser=#{updateUser}
        where eventInfoId=#{eventInfoId}
    </update>
</mapper>
