<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.iotplatform.mapper.EventConfigMapper">
    <select id="getAllEventConfig" resultType="com.it.iotplatform.model.EventConfig">
        select *
        from eventConfig
    </select>
    <select id="getEventConfigById" resultType="com.it.iotplatform.model.EventConfig">
        select *
        from eventConfig
        where eventConfigId=#{eventConfigId}
    </select>
    <insert id="addEventConfig" parameterType="com.it.iotplatform.model.EventConfig" useGeneratedKeys="true">
        insert into eventConfig(eventName, notificationDescription, eventLevel, deviceTypeName, alarmName, createUser, updateUser, state)
        values (#{eventName}, #{notificationDescription}, #{eventLevel}, #{deviceTypeName}, #{alarmName}, #{createUser}, #{createUser}, "1")
    </insert>
    <delete id="deleteEventConfigById">
        DELETE from eventConfig where eventConfigId=#{eventConfigId}
    </delete>
    <update id="updateEventConfig" parameterType="com.it.iotplatform.model.EventConfig">
        UPDATE eventConfig
        SET
            eventName=#{eventName},
            eventLevel=#{eventLevel},
            deviceTypeName=#{deviceTypeName},
            alarmName=#{alarmName},
            updateUser=#{updateUser}
        where eventConfigId=#{eventConfigId}
    </update>
</mapper>
