<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.iotplatform.mapper.SupplierMapper">
    <select id="getAllSupplier" resultType="com.it.iotplatform.model.Supplier">
        select *
        from supplier
    </select>

    <select id="getAllSupplierName" resultType="String">
        select supplierName
        from supplier
    </select>

    <select id="getSupplierByNameOrCode" resultType="com.it.iotplatform.model.Supplier">
        select *
        from supplier
        <where>
            <if test="supplierName != null and supplierName != ''">supplierName like CONCAT(#{supplierName},'%')</if>
            <if test="supplierCode != null and supplierCode != ''">or supplierCode like CONCAT(#{supplierCode},'%')</if>
        </where>
    </select>

    <insert id="addSupplier" parameterType="com.it.iotplatform.model.Supplier">
        insert into supplier(supplierName,supplierCode,contactTel,contactName,address,note,createUser,updateUser,state)
        value (
            #{supplierName},
            #{supplierCode},
            #{contactTel},
            #{contactName},
            #{address},
            #{note},
            #{createUser},
            #{createUser},
            1
        );
    </insert>
    <update id="updateSupplier" parameterType="com.it.iotplatform.model.Supplier">
        update supplier
        set supplierName = #{supplierName},
            contactTel = #{contactTel},
            contactName = #{contactName},
            address = #{address},
            note = #{note},
            updateUser = #{updateUser}
        where supplierCode = #{supplierCode};
    </update>
    <delete id="deleteSupplier" parameterType="com.it.iotplatform.model.Supplier">
        delete
        from supplier
        where supplierCode = #{supplierCode}
    </delete>
</mapper>