<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.iotplatform.mapper.UserMapper">
    <select id="getUserPswByAccount" parameterType="com.it.iotplatform.model.User" resultType="string">
        SELECT userPassword
        FROM user
        WHERE userAccount = #{userAccount}
    </select>
    <insert id="insertUser" parameterType="com.it.iotplatform.model.User">
        INSERT INTO user(userId, userName, userAccount, userPassword, userEmail, userJobNumber)
        VALUE (REPLACE(UUID(),"-",""),
            #{userName},
            #{userAccount},
            #{userPassword},
            #{userEmail},
            #{userJobNumber}
            );
    </insert>
</mapper>